<div class="station-info">
  <h3>最寄り駅<%= i %></h3> 
  <p>
    <strong>Line:</strong>
    <%= station.line %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= station.name %>
  </p>

  <p>
    <strong>Minute Walk</strong>
    <%= station.minute_walk %>分
  </p>
</div>